# Dependencies
node_modules

# Build output
.next
out
build
coverage

# Generated code
src/generated
prisma/schema/migrations

# Env / secrets
.env*

# Assets & uploads
public/uploads

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Misc
*.min.js
*.min.css
.vercel
*.tsbuildinfo
